{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Настройка профиля{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    <h1>Аккаунт</h1>
    <label for="username">Поменять имя:</label>
    <input name="username" id="username" value="{{ g.user['username'] }}" required maxlength="20">
    <label for="password">Поменять пароль:</label>
    <input type="password" name="password" id="password" value="" autocomplete="new-password">
    <label for="password_repeat">Хз зачем это на сайтах спрашивают, но повторите измененный пароль:</label>
    <input type="password" name="password_repeat" id="password_repeat" value="" autocomplete="new-password">
    <label for="email">Поменять почту:</label>
    <input type="email" name="email" id="email" value="{{ g.user['email'] }}" required>
      <span class="danger">При смене почты нужно будет провести активацию аккаунта заново!</span>
    <label>
      <input type="checkbox" name="subscribe" value="on" {% if g.user.is_subscribed_to_global() %} checked {% endif %}> Получать уведомления о ВСЕХ постах на МММ.
    </label>
    <hr>
    <h1>Профиль</h1>
    <!-- дух есть круг, 6 - это скованный дух, скрытый за зонтом от небес, 8 - вечность. 9 - торжество духа над зонтом, finale. -->
    <label for="description">Расскажите о себе, как о ЛИЧНОСТИ (?):</label>
    <textarea name="description" id="description">{% if g.user['description'] %}{{ g.user['description'] }}{% endif %}</textarea>
    <label>
      <input type="checkbox" name="show_email" value="on" {% if g.user['show_email'] %} checked {% endif %}> Показывать адрес почты в своём профиле.
    </label>
    <label for="avatar">Загрузить аватарку:</label>
    <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg, image/gif" />
    <input type="submit" value="С0ХРАНИТЬ твоё новое 0БЛИЧИЕ">
  </form>
{% endblock %}