{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Новая публикация{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Название её</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required maxlength="200">
    <label for="body">Сама публикация</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <label for="tags">Метки к публикации. Пишите маленькими буковами (строчными) разделяя пробелами (цифры можно). Пример: кастрюля уничтожитель обыск смешнявка удаление</label>
    <input name="tags" id="tags" value="{{ request.form['tags'] }}" required maxlength="200">
    <input type="submit" value="СОХРАНИТЬ">
  </form>
{% endblock %}