{% extends 'base.html' %}

{% block header %}

  <h1>{% block title %}ВЕЛИКИЕ ПОСТЫ и поменьше{% if current_tag %} с меткой "{{ current_tag }}"{% endif %}{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">Свершить новый</a>
  {% endif %}
{% endblock %}

{% block content %}
    <form class="searchbar" method="get" action="{{ url_for('blog.index') }}">
        <input name="search" id="search"
            value="{{ request.args.get('search', '') }}" placeholder="Сыщик публикаций" maxlength="200">

        {% if current_tag %}
        <input name="tag" id="costilni_costil" style="display: none" value="{{ current_tag }}">
        {% endif %}
        <select name="sort" id="sort">
            {% set sort = request.args.get('sort') %}
            <option value="new" {% if not sort or sort == 'new' %} selected {% endif %}>Сначала новые</option>
            <option value="old" {% if sort == 'old' %} selected {% endif %}>Сначала старые</option>
            <option value="best" {% if sort == 'best' %} selected {% endif %}>Сначала лучшие</option>
            <option value="worst" {% if sort == 'worst' %} selected {% endif %}>Сначала худшие</option>
        </select>

        <select name="max_pages" id="max_pages">
            {% set max_pages = request.args.get('max_pages') %}
            <option value="1" {% if max_pages == '1' %} selected {% endif %}>1 на странице</option>
            <option value="3" {% if max_pages == '3' %} selected {% endif %}>3 на странице</option>
            <option value="5" {% if max_pages == '5' %} selected {% endif %}>5 на странице</option>
            <option value="10" {% if not max_pages or max_pages == '10' %} selected {% endif %}>10 на странице</option>
            <option value="20" {% if max_pages == '20' %} selected {% endif %}>20 на странице</option>
        </select>

        <input type="submit" value="ПРИМЕНИТЬ">
    </form>
<hr>
  {% for post in posts.items %}
    <article class="post click_post" data-url="{{ url_for('blog.view', id=post['id']) }}">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by <a href="{{ url_for('profile.view', user_id=post.author.id) }}">{{ post.author.username }}</a> on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] or g.user['id'] == 1 %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Видоизменить</a>
        {% endif %}
      </header>
      <p class="body">{{ post['body'] }}</p>
      <div class="tags">
      {% if post.tags %}
      {% set tags_list = post.tags.split(' ') %}
        {% for tag in tags_list %}
          <span class="tag">
            <a href="{{ url_for('blog.index', tag=tag.strip()) }}">
              #{{ tag.strip() }}
            </a>
          </span>
          {% if not loop.last %} {% endif %}
        {% endfor %}
      {% else %}
        <span class="tag">Нет тегов</span>
      {% endif %}
</div>
      <p class="rating"></p>
      <form method="post" action="{{ url_for('blog.vote', id=post['id']) }}">
        <button type="submit" name="value" value="1"
        {% if g.user.votes | selectattr('user_id', 'equalto', g.user.id)
                    | selectattr('post_id', 'equalto', post.id)
                    | selectattr('value', 'equalto', 1)
                    | first %}
        class="active_vote"
        {% endif %}
        >👍</button>
        <button class="nobtn" disabled>{{ post.rating }}</button>
        <button type="submit" name="value" value="-1"
        {% if g.user.votes | selectattr('user_id', 'equalto', g.user.id)
                    | selectattr('post_id', 'equalto', post.id)
                    | selectattr('value', 'equalto', -1)
                    | first %}
        class="active_vote"
        {% endif %}>👎</button>
        <button disabled class="comments nobtn"><a href="{{ url_for('blog.view', id=post['id']) }}">Комментариев: {{ post.comments.count() }}</a></button>
      </form>
    </article>
      <hr>
  {% endfor %}

    <div class="paginator">
        <div>{% if posts.has_prev %}<a href="{{ url_for('blog.index', page = posts.prev_num, tag=request.args.get('tag'), search=request.args.get('search'), sort=request.args.get('sort'), max_pages=request.args.get('max_pages')) }}"><< Предыдущая страница</a>{% else %}<< Предыдущая страница{% endif %}</div>
        <div>Энто стран(н?)ица номер {{ page }}</div>
        <div>{% if posts.has_next %}<a href="{{ url_for('blog.index', page = posts.next_num, tag=request.args.get('tag'), search=request.args.get('search'), sort=request.args.get('sort'), max_pages=request.args.get('max_pages')) }}">Следующая страница >></a>{% else %}Следующая страница >>{% endif %}</div>
    </div>

  <script>
    document.querySelectorAll('.post').forEach(article => {
      article.addEventListener('click', (e) => {
        if (e.target.tagName.toLowerCase() === 'a') return;
        const url = article.getAttribute('data-url');
        if (url) {
          window.location.href = url;
        }
      });
    });
  </script>
{% endblock %}
