{% extends 'base.html' %}

{% block header %}

  <h1>{% block title %}ВЕЛИКИЕ ПОСТЫ и поменьше{% if current_tag %} с меткой "{{ current_tag }}"{% endif %}{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">Свершить новый</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post click_post" data-url="{{ url_for('blog.view', id=post['id']) }}">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post.author.username }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Видоизменить</a>
        {% endif %}
      </header>
      <p class="body">{{ post['body'] }}</p>
      <div class="tags">
      {% if post.tags %}
      {% set tags_list = post.tags.split(' ') %}
        {% for tag in tags_list %}
          <span class="tag">
            <a href="{{ url_for('blog.index', tag=tag.strip()) }}">
              #{{ tag.strip() }}
            </a>
          </span>
          {% if not loop.last %} {% endif %}
        {% endfor %}
      {% else %}
        <span class="tag">Нет тегов</span>
      {% endif %}
</div>
      <p class="rating"></p>
      <form method="post" action="{{ url_for('blog.vote', id=post['id']) }}">
        <button type="submit" name="value" value="1"
        {% if g.user.votes | selectattr('user_id', 'equalto', g.user.id)
                    | selectattr('post_id', 'equalto', post.id)
                    | selectattr('value', 'equalto', 1)
                    | first %}
        class="active_vote"
        {% endif %}
        >👍</button>
        <button class="nobtn" disabled>{{ post.rating }}</button>
        <button type="submit" name="value" value="-1"
        {% if g.user.votes | selectattr('user_id', 'equalto', g.user.id)
                    | selectattr('post_id', 'equalto', post.id)
                    | selectattr('value', 'equalto', -1)
                    | first %}
        class="active_vote"
        {% endif %}>👎</button>
        <button disabled class="comments nobtn"><a href="{{ url_for('blog.view', id=post['id']) }}">Комментариев: {{ post.comments.count() }}</a></button>
      </form>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}

  <script>
    document.querySelectorAll('.post').forEach(article => {
      article.addEventListener('click', (e) => {
        if (e.target.tagName.toLowerCase() === 'a') return;
        const url = article.getAttribute('data-url');
        if (url) {
          window.location.href = url;
        }
      });
    });
  </script>
{% endblock %}
