{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Видоизменение "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Название её</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or post['title'] }}" required maxlength="200">
    <label for="body">Сама публикация</label>
    <textarea name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
    <input type="submit" value="МЕТАМ0РФ03А">
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="[УДАЛИТЬ]" onclick="return confirm('Т04Н0?');">
  </form>
{% endblock %}