{% extends 'base.html' %}

{% block header %}
  <a class="back" href="{{ url_for('blog.index') }}">Назад</a>
  <h1>{% block title %}{{ post['title'] }}{% endblock %}</h1>
    {% if g.user %}
    <a class="action" href="{{ url_for('profile.change_sub_post', post_id=post['id']) }}">
        {% if g.user.is_subscribed_to_post(post.id) %}
        Отписаться от обсуждения
        {% else %}
        Подписаться на обсуждение
        {% endif %}
    </a>
    {% endif %}
  {% if g.user['id'] == post['author_id'] %}
    <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Видоизменить</a>
  {% endif %}
{% endblock %}

{% block content %}
    <article class="post">
      <header>
        <div>
          <div class="about">by {% if post.author.avatar %}<img src="{{ url_for('profile.avatar', user_id=post.author.id) }}" class="avatar_small">{% endif %}<a href="{{ url_for('profile.view', user_id=post.author.id) }}">{{ post.author.username }}</a> on {{ post['created'].strftime('%Y-%m-%d %H:%M') }}</div>
        </div>
      </header>
      <p class="body">{{ post['body'] }}</p>
        <div class="tags">
      {% if post.tags %}
      {% set tags_list = post.tags.split(' ') %}
        {% for tag in tags_list %}
          <span class="tag">
            <a href="{{ url_for('blog.index', tag=tag.strip()) }}">
              #{{ tag.strip() }}
            </a>
          </span>
          {% if not loop.last %} {% endif %}
        {% endfor %}
      {% else %}
        <span class="tag">Нет тегов</span>
      {% endif %}
        </div>
      <p class="rating"></p>
      <form method="post" action="{{ url_for('blog.vote', id=post['id']) }}">
        <button type="submit" name="value" value="1"
        {% if g.user.votes | selectattr('user_id', 'equalto', g.user.id)
                    | selectattr('post_id', 'equalto', post.id)
                    | selectattr('value', 'equalto', 1)
                    | first %}
        class="active_vote"
        {% endif %}
        >👍</button>
        <button class="nobtn" disabled>{{ post.rating }}</button>
        <button type="submit" name="value" value="-1"
        {% if g.user.votes | selectattr('user_id', 'equalto', g.user.id)
                    | selectattr('post_id', 'equalto', post.id)
                    | selectattr('value', 'equalto', -1)
                    | first %}
        class="active_vote"
        {% endif %}>👎</button>
        <button disabled class="comments nobtn"><a href="{{ url_for('blog.view', id=post['id']) }}">Комментариев: {{ post.comments.count() }}</a></button>
      </form>
            <hr>
      <form class="comment" method="post" action="{{ url_for('blog.post_comment', id=post['id']) }}">
        <label for="body">Ваш комментарий</label>
        <textarea name="body" id="body" required maxlength="400">{{ request.form['body'] }}</textarea>
        <input type="submit" value="СОХРАНИТЬ">
      </form>
    </article>
    <hr>
    <h1>Комментарии к посту:</h1>
    {% for comment in post.comments %}
    <article class="post">
      <header>
        <div>
          <div class="about">by {% if comment.author.avatar %}<img src="{{ url_for('profile.avatar', user_id=comment.author.id) }}" class="avatar_small">{% endif %}<a href="{{ url_for('profile.view', user_id=comment.author.id) }}">{{ comment.author.username }}</a> on {{ comment['created'].strftime('%Y-%m-%d %H:%M') }}</div>
        </div>
          {% if g.user['id'] == comment['author_id'] or g.user['id'] == 1 %}
          <a class="action" href="{{ url_for('blog.update_comment', post_id=post['id'], comment_id=comment['id']) }}">Видоизменить</a>
          <a class="action" href="{{ url_for('blog.delete_comment', post_id=post['id'], comment_id=comment['id']) }}"><span class="danger">УДАЛИТЬ</span></a>
          {% endif %}
      </header>
      <p class="body">{{ comment['body'] }}</p>
    </article>
    {% endfor %}
{% endblock %}