<!doctype html>
<title>{% block title %}{% endblock %} - MMM</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="{{ url_for('blog.index') }}">МММ</a></h1>
  <h2>v0.6.0</h2>
  <ul>
    {% if g.user %}
      <li><a href="{{ url_for('profile.view', user_id=g.user['id']) }}">{{ g.user['username'] }}</a></li>
      <li><a href="{{ url_for('profile.settings') }}">Настройки аккаунта</a></li>
      <li><a href="{{ url_for('auth.logout') }}">Выйти</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Регистрация</a>
      <li><a href="{{ url_for('auth.login') }}">Войти</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% if g.user and not g.user.email %}
  <div class="flash">
  Эй, приятель, как насчет привязать почтовичка сегодняшним днём? <a href="{{ url_for('profile.add_email') }}">Вершить дело здесь!</a>
  </div>
  {% endif %}
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
