{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}RESET пароля{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="password">Поменять пароль:</label>
    <input type="password" name="password" id="password" value="" autocomplete="new-password">
    <label for="password_repeat">Повторение мать учения! Повтори пароль, чтобы впредь не забыть:</label>
    <input type="password" name="password_repeat" id="password_repeat" value="" autocomplete="new-password">
    <input type="submit" value="С0ХРАНИТЬ твоё новое 0БЛИЧИЕ">
  </form>
{% endblock %}
